@model List<AmitTextile.Domain.Category>;
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Интернет-магазин текстиля AmitTextile</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/adapt.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="libs/FontAwesome/all.min.css">
    <link rel="stylesheet" href="libs/OwlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/slider.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script type="text/javascript" src="libs/jquery 3.4.1.min.js"></script>
    <script type="text/javascript" defer>
        let arrCat = [];
        let count = 1;
        let line = 1;
        $.ajax({
            type: 'GET',
            url:'@Url.Action("GetCategories", "TextileApi")',
            contentType: 'json',
            success: function (result) {
                arrCat = result;
                for (let i = 0; i < arrCat.length; i++) {
                   
                    if (line % 2 == 0) {
                        $('#' + count).append('<a class="cats" href="#">' + arrCat[i].name + '</a><br>');
                    }
                    else {
                        $('#' + count).append('<a class="cats r" href="#">' + arrCat[i].name + '</a><br>');
                    }
                     if (arrCat.length - i <= 4) {
                        $('#' + count).append('<br>');
                    }
                    count++;
                    if (count > 4) {
                        count = 1;
                        line++;
                    }
                }
            }
        });
    </script>
</head>
<body>
    <button id="scrollBtn"><i class="fas fa-chevron-up"></i></button>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 logo_container">

                </div>
                <div class="col-md-4 search_container">
                    <form class="search_form" action="#">
                        <input type="search" name="search" placeholder="Я ищу..."><a href="#"><button type="button">Поиск</button></a>
                    </form>
                </div>
                <div class="col-md-5 cart_container">
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                    <span class="first">+38-(000)-000-00-00</span><br><span class="nFirst">+38-(000)-000-00-00</span><br><span class="nFirst">+38-(000)-000-00-00</span>
                    <a href="#login" class="login" data-fancybox="pp">Войти</a>
                </div>
            </div>
        </div>
    </header>
    <div class="categories">
        <span id="cat">Категории <i id="arrowDown" class="fas fa-chevron-down"></i><i id="arrowUp" class="fas fa-chevron-up hdn"></i></span>
        <div id="cats_hdn" class="hdn">
            <div class="container">
                <div class="row">
                    <div id="1" class="col-md-3"></div>
                    <div id="2" class="col-md-3"></div>
                    <div id="3" class="col-md-3"></div>
                    <div id="4" class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="slider">
            <div class="slider__wrapper">
                <div class="slider__item">
                    <div style="height: 250px; background: orange;">1</div>
                </div>
                <div class="slider__item">
                    <div style="height: 250px; background: green;">2</div>
                </div>
                <div class="slider__item">
                    <div style="height: 250px; background: violet;">3</div>
                </div>
                <div class="slider__item">
                    <div style="height: 250px; background: coral;">4</div>
                </div>
            </div>
            <a class="slider__control slider__control_left" href="#" role="button"></a>
            <a class="slider__control slider__control_right" href="#" role="button"></a>
        </div>
        <div class="tps">
            <span>Популярное</span>
            <span>Новые поступления</span>
            <span>Лидеры продаж</span>
            <span>Скидки</span>
        </div>
        <div class="container">
            <div class="row item_cells">
                <div class="col-md-3">
                    <div class="line">
                        <div class="item">
                            <div class="item_image">
                                <img src="images/img1.jpg" alt="ItemImg">
                            </div>
                            <a href="#" class="item_name">
                                Ткань АЙывЦЙА для вля пошива платьев, брюк, рубашек.
                            </a>
                            <div class="container-fluid itm_field">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="item_cost">
                                            1258 ₴
                                        </span>
                                        <br>
                                        <span class="inStock">
                                            Есть в наличии
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="buy_item">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="line">
                        <div class="item">
                            <div class="item_image">
                                <img src="images/talon_splash_0.jpg" alt="ItemImg">
                            </div>
                            <a href="#" class="item_name">
                                Ткань АЙывЦЙА для вля пошива платьев, брюк, рубашек.
                            </a>
                            <div class="container-fluid itm_field">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="item_cost">
                                            1258 ₴
                                        </span>
                                        <br>
                                        <span class="lowAm">
                                            Заканчивается
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="buy_item">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="line">
                        <div class="item">
                            <div class="item_image">
                                <img src="images/img2.jpg" alt="ItemImg">
                            </div>
                            <a href="#" class="item_name">
                                Ткань АЙывЦЙА для вля пошива платьев, брюк, рубашек.
                            </a>
                            <div class="container-fluid itm_field">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="item_cost">
                                            1258 ₴
                                        </span>
                                        <br>
                                        <span class="notInStock">
                                            Нет в наличии
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="buy_item">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="line">
                        <div class="item">
                            <div class="item_image">
                                <img src="images/img1.jpg" alt="ItemImg">
                            </div>
                            <a href="#" class="item_name">
                                Ткань АЙывЦЙА для вля пошива платьев, брюк, рубашек.
                            </a>
                            <div class="container-fluid itm_field">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="item_cost">
                                            1258 ₴
                                        </span>
                                        <br>
                                        <span class="inStock">
                                            Есть в наличии
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="buy_item">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <footer>

    </footer>
    <div class="hidden">
        <form id="login" action="#">
            <font>Эл. почта</font><br><br>
            <div class="inputFields">
                <input type="email" name="UserEmail" required><br><br>
                <font>Пароль</font><br><br>
                <input type="password" name="UserPassword" required><br><br>
            </div>
            <input type="submit" id="loginButton" class="registerButton" value="Войти" name="login" required><br><br>
            <input type="checkbox" id="checkbox">  Запомнить меня<br><br>
            <a data-fancybox="helo" href="#register">Зарегистрироваться</a>
        </form>
    </div>
    <div class="hidden">
        <form id="register" class="register" action="">
            
            ФИО<br><br>
            <div class="inputFields">
                <input type="text" id="registerName" name="UserName" required><br><br>
                Эл. почта<br><br>
                <input type="email" id="registerEmail" name="UserEmail" required><br><br>
                Придумайте пароль<br><br>
                <input type="password" id="registerPass" name="UserPassword" required><br><br>
                Подтвердите пароль<br><br>
                <input type="password" id="confirmPass" required><br><br>
                Пароль должен содержать не менее 6 символов<br><br>
            
            </form>
            <input type="submit" id="registerBtn" class="registerButton" name="register" value="Зарегистрироваться">
        </div>
    </div>
    <script type="text/javascript">
        $("#registerBtn").click(function (e) {
        e.preventDefault();
        let name = document.getElementById('registerName').value;
        let mail = document.getElementById('registerEmail').value;
        let pass = document.getElementById('registerPass').value;
        let confirmPass = document.getElementById('confirmPass').value;
            let x = {"Email":mail,"Fio":name,"Password":pass,"PasswordConfirm":confirmPass}
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Register", "TextileApi")',
                contentType: 'application/json; charset=utf-8',
                dataType : 'json',
                data: JSON.stringify(x)
            });
        });
    </script>
    <script type="text/javascript" src="~/js/slider.js"></script>
    <script type="text/javascript" src="libs/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="libs/FontAwesome/all.min.js"></script>
    <script type="text/javascript" src="libs/OwlCarousel/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</body>
</html>