@media only screen and (max-width:1508px){
    .l{
        padding-right:0;
    }
    .contentM{
        margin-right:0;
        margin-left:0;
    }
}
@media only screen and (max-width:1338px) {
    .adminOption,.adminOption-wrap,.toOrder{
        font-size:13px;
    }
    .adminOption svg, .adminOption-wrap svg, .toOrder>a>svg{
        font-size:13px;
        position:relative;
        bottom:3px;
    }
    .cart_container{
        padding-left:2%;
    }
    .first {
        margin-left: 10px;
    }
    .nFirst {
        margin-left:93px;
    }
}
@media only screen and (max-width:1217px) {
    .lgn{
        left:120px!important;
    }
    .adminOptions-wrap{
        margin-left:5%;
    }
    .adminOptions{
        margin-left:10%;
    }
    .item_cost {
        font-size: 20px;
    }
    .first {
        display: none;
    }
    .filterField{
        margin-left:15%;
    }
    .submitFilters{
        margin-left:30px;
    }
    .nFirst {
        display: none;
    }

    .helloAuth > .login {
        width: 235px;
        position: relative;
        left: 100px;
        bottom: 40px;
    }

    .logedDropdown {
        margin-left: 100px;
    }

    .item_name {
        font-size: 13px;
    }

    .search_container {
        padding-left: 150px;
    }

    .logo_container > a {
        margin-left: 30px;
    }
}
@media only screen and (max-width:1100px) {
    .buyItem > a{
        font-size:14px;
    }
    .rateItemContainer a {
        font-size: 12px;
    }
}
@media only screen and (max-width:1086px) {
    .buttonsItemList>.fav{
        position:unset!important;
    }
    .item_cells .fav {
        position: relative;
        right: 25px;
        bottom: 32px;
    }
    .item:hover>.itm_field>.row>.col-md-6>.fav{
        right:0px;
        bottom:7px;
    }
}
@media only screen and (max-width:1075px) {

    .item:hover > .itm_field > .row > .col-md-6 > .fav {
        right: 25px;
        bottom: 32px;
    }
    .inStock, notInStock, lowAm{
        font-size:12px;
    }
    .itm_field>.row>.col-md-6:nth-child(1){
        padding-right:0px;
    }
    }
    @media only screen and (max-width:1000px){
        .logoWithoutName {
            display:block;
        }
        .logoMain{
            display:none;
        }
        .search_container{
            margin-top:35px;
            padding-left:20px;
        }
        .cart_container{
            margin-top:35px;
            padding-left:0;
        }
    }
    @media only screen and (max-width:991px) {
        .nPad{
            padding:0px;
        }
        .adminOption, .adminOption-wrap, .toOrder {
            font-size: 11.5px;
        }
        .adminOptions-wrap {
            margin-left: 0;
        }

        .adminOptions {
            font-size:11px;
            margin-left:7px;
        }
        .buyItemList>.buyItem > a>svg {
            display:none;
        }
        .buyItemList > .buyItem > a{
            font-size:16px;
        }
        .buyItem {
            padding: 10px;
        }
        .item:hover > .itm_field > .row > .col-md-6 > .fav:hover {
            background: none;
        }
        .item_cells .fav:hover {
            background: none;
        }
        .item_cost{
            font-size:17px;
        }
        .f {
            padding-left: 30px;
            padding-right: 30px;
            max-width: 991px;
            width: 100%;
        }

        .item_image > img {
            height: 125px;
        }
        .item{
            height:250px;
            padding:12px;
        }
        .lowAm, .notInStock, .inStock {
            font-size: 12px;
        }
        .helloAuth > .login {
            left: 85px;
            width: 230px;
        }
        .rateItemContainer a {
            font-size: 12px;
        }
    }
    @media only screen and (max-width:767px) {
        .selectContainer{
            width:250px;
        }
        .nPad {
            padding-left: 10px;
            padding-right: 10px;
        } 

        .adminOption, .adminOption-wrap, .toOrder {
            font-size: 16px;
        }

        .adminOptions-wrap {
            margin-left: 0;
        }

        .adminOptions {
            margin-left: 5%;
        }
        .buttonsItemList .fav {
            position: relative !important;
            left: 90px !important;
            bottom: 45px !important;
        }
        item:hover > .itm_field > .row > .col-md-6 > .fav:hover {
            background: #303030!important;
        }

        .item_cells .fav:hover {
            background: #303030!important;
        }
        .listItem .lowAm, .inStock,.notInStock{
            font-size:20px;
        }
        .item:hover > .itm_field > .row > .col-md-6 > .fav {
            bottom: 42px;
        }
        .item_cells .fav{
            bottom:42px;
        }
        .propButtons {
            padding-bottom: 20px;
        }
        .view {
            display: none;
        }
        #grid{
            display:none;
        }
        #list{
            display:none;
        }
        .filterFieldContainer {
            margin-top: 0px;
        }
        .filterField{
            margin-left:10px;
        }
        .submitFilters{
            margin-left:10px;
        }
        .helloAuth > .login {
            position: unset;
            width: 100%;
            overflow: unset;
            height: unset;
        }
        .side{
            display:unset;
        }
        .side-menu {
            display: block;
        }
        .helloAuth{
            width:100%;
        }
        .helloAuth svg{
            font-size:24px;
            position:relative;
            bottom:5px;
        }
        .search_form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .buy_item {
            position: relative;
            bottom: 35px;
        }

        .item {
            padding: 30px;
            height: auto;
        }

        .item_image > img {
            height: auto;
        }
        .logo_container{ 
            display: none;
        }
        .cart_container {
            display: none;
        }
        .search_container{
            margin-top:0px;
            margin-bottom:25px;
        }
        .openSide{
            display:unset;
        }
    }
     @media only screen and (max-width:600px) {
        .adminOption, .adminOption-wrap, .toOrder {
            font-size: 14px;
        }
        .patternContainer input{
            width:210px!important;
        }
        .addPattern {
            left: 15px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .addChildCat {
            left: 73px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .addCharact {
            padding-left: 15px;
            padding-right: 15px;
        }
        .removeCharact {
            padding-left: 15px;
            padding-right: 15px;
        }
        .removeIt {
            margin-left: 225px;
        }
        .removeImg > img {
            width: 220px;
        }
        .createSelect {
            width: 230px !important;
        }
        .charactLine {
            width: 270px;
        }
        .addCharact {
            left: 130px;
        }
        .selectContainer > .removeCharact {
            left: 230px;
        }
        .forma{
            margin-left:5%;
        }
        .forma > form input{
            width:230px;
        }
        .forma textarea{
            width:230px;
        }
        .select2 {
            width: 230px !important;
        }
        .tps span {
            margin-right: 15px;
        }
    }
    @media only screen and (max-width:500px) {
        .catItemImgHolder{
            display:block;
        }
        .inputFields > input {
            width: 250px;
        }
        .registerButton{
            width:250px;
        }
        .searchBar {
            width: 60%;
        }
    }
@media only screen and (max-width:420px) {
    
    #register {
        padding: 20px;
    }
    .inputFields > input {
        width: 210px;
    }

    .registerButton {
        width: 210px;
    }
    #login{
        padding:20px;
    }
    .tps span {
        margin-right: 5px;
        font-size: 12px;
    }
}