body {
    font-family: 'Ubuntu Condensed';
    background-color: #282828;
}
body a:link{
    text-decoration:none;
}
button {
    cursor: pointer;
}

header {
    background-color: #202020;
}

.logo_container, .search_container, .cart_container {
    margin-top: 15px;
   
}
    .logo_container{
        margin-top:22px;
    }
    .search_container, .cart_container {
        margin-top: 35px;
        padding-left: 200px;
    }

.searchBar {
    width: 76%;
    height: 35px;
    border: 1px solid #DCDCDC;
    border-radius: 3px 0 0 3px;
    padding: 10px;
}

.search_form {
    font-family: 'Ubuntu Condensed';
}

.searchButton {
    height: 35px;
    border-radius: 0 3px 3px 0;
    background-color: #FF8C00;
    border: 1px solid #FF8C00;
    color: white;
    transition: 0.3s all;
    font-weight: bold;
}

    .searchButton:hover {
        background-color: #FFA500;
        border: 1px solid #FFA500;
        transition: 0.3s all;
    }
.cart_container a > svg {
    color: #FF8C00;
    font-size: 31px;
    transition: 0.3s all;
}

    .cart_container a > svg:hover {
        color: #FFA500;
        transition: 0.3s all;
    }

.first {
    margin-left: 40px;
}

.nFirst {
    margin-left: 123px;
}

.cart_container span {
    color: white;
    position: relative;
    bottom: 20px;
}

.cart_container {
    padding-left: 4%;
}

.login:link {
    color: white;
    transition: 0.3s all;
    position: relative;
    left: 10%;
    bottom: 36px;
}

    .login:hover {
        text-decoration: none;
        color: #FF8C00;
        transition: 0.3s all ease;
    }

.inputFields > input {
    width: 300px;
    height: 35px;
}

#login > a {
    color: #181818;
    transition: 0.3s all ease;
}

    #login > a:hover {
        transition: 0.3s all ease;
        color: #FF8C00;
    }
#login > font {
    color:#181818;
}
#checkbox {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.registerButton {
    cursor: pointer;
    width: 300px;
    height: 35px;
    font-weight: bold;
    color: white;
    background-color: #FF8C00;
    border: 1px solid #FF8C00;
    transition: 0.3s all ease;
    display: block;
}

    .registerButton:hover {
        transition: 0.3s all ease;
        background-color: #FFA500;
        border: 1px solid #FFA500;
    }

.hidden {
    font-family: 'Ubuntu Condensed';
    display: none;
}

.categories > span > svg {
    font-size: 15px;
}

.categories {
    width: 100%;
    background-color: #101010;
    text-align: center;
    font-size: 30px;
    color: white;
    height: 70px;
}

    .categories > span {
        position: relative;
        top: 20px;
    }

#cats_hdn {
    position: relative;
    top: 20px;
    background-color: #101010;
    z-index: 10;
    opacity: 0;
}

.hdn {
    display: none;
}

#cat {
    transition: 0.3s all ease;
    cursor: pointer;
}

    #cat:hover {
        color: #FFA500;
        transition: 0.3s all ease;
    }

.tps {
    font-family: 'Ubuntu Condensed';
    text-align: center;
    margin-top: 30px;
}

    .tps span {
        cursor: pointer;
        margin-right: 50px;
        transition: 0.3s all ease;
        color:white;
    }

        .tps span:hover {
            color: #FFA500;
            transition: 0.3s all ease;
        }

.item {
    padding: 17px;
    border: 1px solid #282828;
    width: 100%;
    height: 330px;
    background-color: #484848;
}
.notFirstItem{
    border-left:none;
}
.item_image > img {
    width: 100%;
    padding-bottom: 15px;
    height: 160px;
}
.item_name:visited {
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.item_name {
    font-size: 16px;
    color: white;
}
    .item_name:link {
        font-size: 16px;
        color: white;
        text-decoration: none;
    }

    .item_name:hover {
        color: #FFA500;
        text-decoration: none;
        transition: 0.3s all ease;
    }
    
    .item_cost {
        font-size: 21px;
        color: white;
    }

.buy_item {
    color: #FF8C00;
    font-size: 24px;
    float: right;
    transition: 0.3s all ease;
}

    .buy_item:hover {
        color: #FFA500;
        transition: 0.3s all ease;
    }

.itm_field {
    padding: 0;
    padding-top: 15px;
}

.item_cells > .col-md-3 {
    padding: 0;
}

.tps {
    margin-bottom: 30px;
}

.item:hover {
}

.inStock {
    color: #00a046;
    font-size: 14px;
}

.lowAm {
    color: #ff5c00;
    font-size: 14px;
}

.notInStock {
    color: #797878;
    font-size: 14px;
}
.cats:visited {
    color: white;
    font-size: 19px;
    border-radius: 100px;
    padding: 5px;
    transition: 0.3s all ease;
}
.cats {
    color: white;
    font-size: 19px;
    border-radius: 100px;
    padding: 5px;
    transition: 0.3s all ease;
}
.cats:link {
    color: white;
    font-size: 19px;
    border-radius: 100px;
    padding: 5px;
    transition: 0.3s all ease;
}


    .cats:hover {
        color: white;
        text-decoration: none;
        background-color: #FFA500;
        transition: 0.3s all ease;
    }

.r {
    margin-right: 150px;
}

.item:hover {
    border: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

footer {
    background-color: #777;
}

#scrollBtn {
    position: fixed;
    bottom: 40px;
    right: 20px;
    border-radius: 100%;
    padding: 17px;
    z-index: 20;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #FF8C00;
    color: white;
    transition: 0.3s all ease;
    display: none;
}

    #scrollBtn:hover {
        background-color:  	#FFA500;
        transition: 0.3s all ease;
    }

    #scrollBtn > svg {
        font-size: 22px;
    }

.error {
    position: relative;
    top: 10px;
    color: red;
}

#regS {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 100;
    background-color: #FFFAF0;
    padding-top: 40px;
    display: none;
}
#regS1 {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 100;
    background-color: #FFFAF0;
    padding-top: 40px;
    display: none;
    text-align:center;
}
#regS2 {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 100;
    background-color: #FFFAF0;
    padding-top: 40px;
    display: none;
    text-align: center;
}

    #regS > p {
        text-align: center;
    }

.close {
    position: fixed;
    right: 0px;
    top: 5px;
    background: none;
    border: none;
    font-size: 25px;
    transition: 0.3s all ease;
}

    .close:hover {
        color: #FFA500;
        transition: 0.3s all ease;
    }
#notConfirmed {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 100;
    background-color: #FFFAF0;
    padding-top: 40px;
    display: none;
    text-align:center;
}

    #notConfirmed > p {
        text-align: center;
    }
#register > .inputFields > span {
    color: red;
}

.showBtn {
    height: 35px;
    color: coral;
    background: none;
    border: none;
    text-shadow: none;
    transition: 0.3s all ease;
    width: 35px;
}

    .showBtn:hover {
        background-color: #d3d3d3;
        transition: 0.3s all ease;
    }

.toFavourite {
    font-size: 20px;
    color: #FF8C00;
    display: none;
}


    .toFavourite:hover {
        color: #FF8C00;
    }

.fav:hover {
    background-color: #303030;
}

.selected {
    display: block;
}

.fav {
    box-shadow: none;
    border: none;
    background: none;
    padding: 10px;
}

.itemImgFull {
    width: 100%;
}

.itemImageFull {
    padding: 30px;
    padding-right: 0;
    min-height:220px;
}

.itemInfo {
    padding: 30px;
    padding-left: 0;
}

.buyItem {
    padding: 10px;
    background-color: #FF8C00;
    border: none;
    transition:0.3s all ease;
}

    .buyItem:hover {
        background-color: #FFA500;
        transition: 0.3s all ease;
    }

        .buyItem:hover > a {
            color: white;
            text-decoration: none;
        }

    .buyItem > a {
        color: white;
        font-size: 20px;
    }

.nameHolder {
    width: 95%;
    padding-bottom: 40px;
    border-bottom: 2px solid #d3d3d3;
}

.catName {
    font-size: 30px;
    padding-top: 40px;
    color: white;
}

.categs {
    padding-top: 50px;
    padding-bottom: 60px;
}

.container {
    width: 100%;
}

.containr li {
    display: inline-block;
}

.containr > a {
    display: inline-block;
}

.catItemImgHolder {
    width: 100%;
    height: 95px;
}

.catItem {
    cursor: pointer;
    padding: 5px;
    margin-right: 10px;
    transition: 0.3s all ease;
    border: 1px solid #303030;
    width:180px;
    margin-bottom:10px;
}

    .catItem:hover {
        transition: 0.3s all ease;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border: none;
    }

.catItemImgHolder > img {
    width: 100%;
}

.catItemNameHolder > span {
    color: white;
    transition: 0.3s all ease;
}

    .catItem:hover span{
        color: #FFA500;
        transition: 0.3s all ease;
    }

.propButtons {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    width: 95%;
    color:white;
}

.viewButton > svg {
    font-size: 28px;
    color: white;
    transition: 0.3s all ease;
}

.viewButton {
    float: right;
    font-size: 12px;
    position: relative;
    right: 80px;
    bottom: 52px;
    padding-left: 13px;
}

    .viewButton:nth-child(1) {
        right: 20px;
    }

.view {
    float: right;
    font-size: 16px;
    position: relative;
    right: 80px;
    bottom: 45px;
    padding-left: 13px;
}

.viewButton:hover > svg {
    color: #FFA500;
    transition: 0.3s all ease;
    cursor: pointer;
}

.viewSelected > svg {
    color: #FF8C00;
}

.viewSelected:hover > svg {
}

.l {
    padding-right: 90px;
}

.navButtons {
    margin-top: 25px;
}

    .navButtons > ul {
        text-align: center;
    }

        .navButtons > ul > li {
            display: inline-block;
        }

.pagButtons {
    border: 1px solid #696969;
    padding: 8px;
    cursor: pointer;
}

    .pagButtons:hover {
        background-color: white;
        transition: 0.3s all ease;
        color: #282828;
    }

.number {
    padding-left: 12px;
    padding-right: 12px;
}

.disabled {
    color: #d3d3d3;
    cursor: not-allowed;
}

    .disabled:hover {
        background-color: transparent;
        color: #d3d3d3;
    }

.current {
    background-color: #696969;
    transition: 0.3s all ease;
    color: white;
}

.navButtons a {
    color: white;
    display: inline-block;
    transition: 0.3s all ease;
}

    .navButtons a:hover {
        background-color: white;
        transition: 0.3s all ease;
        color: #282828;
        text-decoration: none;
    }

.navButtons ul {
    font-size: 0px;
}

    .navButtons ul li {
        font-size: 16px;
    }

.mrg {
    margin-bottom: 60px;
}
.listImgContainer > img {
    width: 100%;
}

.itemNameList h2 {
    font-size: 24px;
    color:white;
}

.itemNameList a {
    color: white;
    transition: 0.3s all ease;
}

.itemDescriptionList .rateItemContainer {
    margin-bottom: 20px;
}

.itemNameList a:hover {
    color: #FFA500;
    text-decoration: none;
    transition: 0.3s all ease;
}

.listItems {
    border: 1px solid #282828;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #484848;
}

.itemPriceList {
    color:white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

.buttonsItemList {
    margin-top: 10px;
}
.filterField {
    max-height: 320px;
    overflow: auto;
    border-top:1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    margin-top:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-left:40%;
    color:white;
}
.filterName>span{
   font-weight:bold;
}
.filterName {
    cursor: pointer;
    transition: 0.3s all ease;
}
    .filterName:hover {
        transition: 0.3s all ease;
        color: #FFA500;
    }
.filterName>svg{
    font-size:13px;
    margin-right:10px;
    margin-bottom:2px;
    color:white;
}
.filterOptions{ 
    padding-top:10px;
}
.filterOptions>ul>li>input{
    margin-right:5px;
    margin-top:10px;
}
.filterOptions > ul > li > span{
}
.contentM{
    margin-left:10%;
    margin-right:10%;
}
.filterFieldContainer{
    margin-top:257px;
}
.rotate0{
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.submitFilters {
    margin-top: 30px;
    margin-left: 140px;
    height: 35px;
    background-color: #FF8C00;
    color: white;
    border:none;
    transition: 0.3s all ease;
}
    .submitFilters:hover {
        transition: 0.3s all ease;
        background-color: #FFA500;
    }
.imgMini {
    position: absolute;
    left: 60px;
    border: 1px solid #008B8B;
    width: 50px;
    padding: 2px;
    background-color: white;
}

    .imgMini:hover {
        background-color: #d3d3d3;
    }

    .imgMini > img {
        height: 30px;
        width: 100%;
    }

#imgFull {
    width:90%;
    max-width: 950px;
    max-height:450px;
    padding-left:85px;
}

.imgMini:nth-child(1) {
    top: 40px;
}

.imgMini:nth-child(2) {
    top: 95px;
}

.imgMini:nth-child(3) {
    top: 150px;
}

.imgMini:nth-child(4) {
    top: 205px;
}

.current {
    background-color: #696969;
    transition: 0.3s all ease;
    color: white;
}

.listImgContainer > img {
    width: 100%;
}

.itemNameList h2 {
    font-size: 24px;
    width:140px;
}

.itemNameList a {
    color: white;
    transition: 0.3s all ease;
    display:block;
    width:140px;
}

.itemNameList {
    margin-bottom: 20px;
}

    .itemNameList h2:hover {
        color: #FFA500;
        text-decoration: none;
        transition: 0.3s all ease;
    }

.listItems {
    border: 1px solid #303030;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.itemPriceList {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

.buttonsItemList {
    margin-top: 10px;
}

.name {
    padding-bottom: 10px;
    padding-left: 10%;
    padding-top: 20px;
    font-size: 35px;
    color:white;
}

.itemCost {
    font-size: 27px;
    color:white;
    margin-right:50px;
}

.buttonBar {
    padding-left: 10%;
}

.button {
    display: inline-block;
    margin-right: 30px;
    padding-bottom: 20px;
    cursor: pointer;
    color: white;
    transition: 0.1s all ease;
}
    .button:visited {
        display: inline-block;
        margin-right: 30px;
        padding-bottom: 20px;
        cursor: pointer;
        color: white;
        transition: 0.1s all ease;
    }
    .button:link {
        display: inline-block;
        margin-right: 30px;
        padding-bottom: 20px;
        cursor: pointer;
        color: white;
        transition: 0.1s all ease;
    }
        .button:hover {
            text-decoration: none;
        }

    .button:hover {
        transition: 0.1s all ease;
        font-weight: bold;
        color: #FFA500;
        border-bottom: 3px solid #FFA500;
    }

.buttonSelected {
    border-bottom: 3px solid #FFA500!important;
    color: #FFA500!important;
}
.ratingContainer {
    padding-bottom: 20px;
    padding-left: 10%
}

.itemDescription {
    padding-right: 10%;
    color:white;
}

    .itemDescription > h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }

.itemDescrioption span {
    font-size: 20px;
}

.itemInfo > .inStock {
    padding: 10px;
    font-size: 18px;
    display: inline-block;
}

.itemInfo > .lowAm {
    padding: 10px;
    font-size: 18px;
    display: inline-block;
}

.itemInfo > .notInStock {
    padding: 10px;
    font-size: 18px;
    display: inline-block;
}

.fix {
    position: fixed;
    bottom: 0px;
    background-color: #fff;
    width: 100%;
    padding-top: 20px;
}

.characteristics {
    margin-left: 14%;
    color:white;
}

    .characteristics > table {
        width: 100%;
    }

.characteristicName {
    width: 60%;
    border-bottom: 1px solid #d3d3d3;
}

.characteristicValue {
    width: 40%;
    float: left;
}

.itemMini > .itemInfo {
    padding: 0;
}

.itemMini {
    margin-top:5px;
    background-color:white;
    position: sticky;
    top: 5px;
    margin-right: 19%;
}
    .itemMini .itemCost {
        color: #282828;
    }

    .itemMini > .itemInfo > .fav {
        float: right;
    }

    .itemMini > .buyItem {
        margin-top: 20px;
        width: 100%;
    }

    .itemMini > .itemInfo > .itemCost {
        margin-left: 10px;
    }

    .itemMini > .itemInfo > .inStock {
        margin-bottom: 20px;
    }

    .itemMini > .itemInfo > .lowAm {
        margin-bottom: 20px;
    }

    .itemMini > .itemInfo > .notInStock {
        margin-bottom: 20px;
    }

.itemMiniImgContainer > img {
    width: 100%;
}

.itemInfoMini {
    margin-bottom: 20px;
}

    .itemInfoMini > .container-fluid {
        padding: 0px;
        padding-left: 10px;
    }

.itemMiniName {
    font-size: 20px;
}

.itemMini {
    border: 1px solid #d3d3d3;
    padding: 20px;
}

.fix > .itemMini > .itemInfoMini > .container-fluid > .row > .col-md-7 > .itemMiniName {
    white-space: nowrap;
    position: fixed;
    left: 100px;
    bottom: 27px;
    text-overflow: ellipsis;
    overflow: hidden;
}

    .fix > .itemMini > .itemInfoMini > .container-fluid > .row > .col-md-7 > .itemMiniName > span {
        white-space: nowrap;
    }

.fix > .itemMini > .itemInfoMini > .container-fluid > .row > .col-md-5 > .itemMiniImgContainer > img {
    width: 55px;
    position: relative;
    left: 10px;
}

.fix > .itemMini {
    padding: 0;
    margin: 0;
    border: none;
}

    .fix > .itemMini > .itemInfo {
        display: none;
    }

    .fix > .itemMini > .buyItem {
        display: none;
    }

.fixCost {
    display: none;
}

.fix > .itemMini > .itemInfoMini > .container-fluid > .row > .col-md-7 > .itemMiniName > .fixCost {
    display: inline-block;
    position: fixed;
    right: 200px;
}

.fixed {
    display: none;
}

.fix > .itemMini > .itemInfoMini > .container-fluid > .row > .col-md-7 > .itemMiniName > .fixed {
    display: inline-block;
}

.fix > .itemMini > .itemInfoMini > .container-fluid > .row > .col-md-7 > .itemMiniName > .buyItem {
    display: inline-block;
    margin: 0;
    padding: 7px;
    font-size: 12px;
    position: fixed;
    right: 70px;
    bottom: 18px;
}

.comment {
    margin-left: 10%;
}

textarea {
    width:100%;
    max-width: 500px;
    height: 200px;
    padding: 10px;
}

.sendComment {
    width: 49%;
    height: 35px;
    background-color: #282828;
    color: white;
    font-weight: bold;
    transition: 0.3s all ease;
    border:none;
}

.declineComment {
    color: white;
    font-weight: bold;
    width: 49%;
    height: 35px;
    background-color: #282828;
    transition: 0.3s all ease;
    border:none;
}

.sendComment:hover {
    transition: 0.3s all ease;
    background-color: #383838;
    color: #FFA500;
}

.declineComment:hover {
    transition: 0.3s all ease;
    background-color: #383838;
    color: #FFA500;
}

#popupCommentForm > .pros {
    width: 100%;
    height: 30px;
}
#popupCommentForm > .cons {
    width: 100%;
    height: 30px;
}
.hideIt{
    display:none;
}
.commentPosted {
    border: 1px solid #303030;
    margin-bottom: 2px;
}

.questionPosted {
    border: 0;
}

    .questionPosted > .commentInfo {
        border: 1px solid #303030;
        border-bottom: 0;
    }

    .questionPosted > .commentTextContainer {
        border: 1px solid #303030;
    }

#popupCommentForm > label {
    margin-top: 20px;
}

.commentUserName {
    font-size: 24px;
}

.commentDate {
    float: right;
    font-size: 14px;
    color: white;
    margin-top: 5px;
}

.commentPosted {
    width: 60%;
    margin-left: 10%;
}

.commentInfo {
    padding: 10px;
    border-bottom: 1px solid #303030;
    background-color: #202020;
    color: white;
}

.commentTextContainer {
    padding: 10px;
    background-color: #202020;
    color:white;
}

    .commentTextContainer > label {
        font-weight: bold;
    }

    .commentTextContainer > .pros {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .commentTextContainer > .cons {
        margin-top: 5px;
        margin-bottom: 5px;
    }

.userNameField {
    width: 100%;
    height: 30px;
}

.replyButton {
    float: right;
    margin-left: 5%;
    margin-top: 2px;
    transition: 0.3s all ease;
}

    .replyButton:hover {
        color: #FFA500;
        text-decoration: none;
        transition: 0.3s all ease;
    }

.formName {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
}

.replyToQuestion {
    padding-left: 3%;
}

.reply {
    border: 1px solid #303030;
    border-top: 0px;
    padding: 10px;
    background-color: #202020;
    color:white;
}

.replyInfo {
    border-bottom: 1px solid #303030;
    padding-bottom: 10px;
}

.commentTextContainer {
    border-bottom: 1px solid #303030;
}
.navBcomments{
    width:60%;
    text-align:center;
    margin-left:10%;
}
.commentSend {
    float: right;
    padding: 15px;
    background-color: #3e77aa;
    color: white;
    position: relative;
    bottom: 15px;
    transition: 0.3s all ease;
    border-radius:4px;
}
    .commentSend:active {
        background-color: #3e77aa;
        text-decoration: none;
        color: white;
    }

    .commentSend:visited {
        background-color: #3e77aa;
        text-decoration: none;
        color: white;
    }

    .commentSend:link {
        background-color: #3e77aa;
        text-decoration: none;
        color: white;
    }
    .commentSend:hover {
        background-color: #6495ED;
        text-decoration:none;
        color:white;
        transition:0.3s all ease;
    }
.questionSend:visited {
    background-color: #3e77aa;
    text-decoration: none;
    color: white;
}
.questionSend:link {
    background-color: #3e77aa;
    text-decoration: none;
    color: white;
}
.questionSend {
    float: right;
    padding: 15px;
    background-color: #3e77aa;
    color: white;
    position: relative;
    bottom: 15px;
    transition: 0.3s all ease;
    border-radius: 4px;
}

    .questionSend:hover {
        background-color: #6495ED;
        text-decoration: none;
        color: white;
        transition: 0.3s all ease;
    }
.sc {
    background-color: #f5f5f5;
    width: 60%;
    border: 1px solid #e9e9e9;
    border-radius:4px;
    margin-top:20px;
    margin-bottom:20px;
    font-size: 24px;
    margin-left: 10%;
    padding: 45px;
    padding-left: 10px;
}
.characteristics > table {
    border-spacing:0 25px;
    border-collapse:separate;
}
.item .fav{
    position:relative;
    float:right;
    bottom:7px;
}
.cat{
    margin-top:434.5px;
}
.favouriteList{
    margin-right:10px;
}
.rateItemContainer > .rating-container {
    display: inline-block;
}
.rateItemContainer > a {
    transition: 0.3s all ease;
    font-size: 14px;
    color: white;
}
    .rateItemContainer > a:hover {
        transition: 0.3s all ease;
        color: #FFA500;
        text-decoration: none;
    }
    .rateItemContainer > a:link {
        text-decoration: none;
    }
.item .rateItemContainer{
    margin-top:5px;
}
.lic{
    margin-top:0px;
}
#cartPopup .fancybox-close-small{
    color:white!important;
}
.close1 {
    position: absolute;
    right: 0px;
    top: -10px;
    background: none;
    border: none;
    font-size: 25px;
    transition: 0.3s all ease;
    color: #A9A9A9;
    z-index:20;
}
    .close1:hover {
        color: #FFA500;
        transition: 0.3s all ease;
    }
    .close1 > a {
        color: #A9A9A9;
        transition: 0.3s all ease;
    }
        .close1 > a:hover {
            text-decoration: none;
            color: #FFA500;
            transition: 0.3s all ease;
        }
.inCart {
    width: 450px;
    height: 100px;
    background-color: #181818;
    box-shadow: -3px 3px 10px rgba(0,0,0,0.5);
    font-size: 35px;
    color: white;
    margin-right:30px;
    padding-top: 25px;
    padding-left: 30px;
    position: absolute;
    top: 23px;
    z-index: 1000;
    margin-left:-200px;
}
    .inCart > svg {
        font-size: 50px;
        color: #FF8C00 !important;
        margin-right: 20px;
    }
    .inCart>span{
        position:relative;
        bottom:6px;
    }
    .cart{
        display:inline-block;
    }
    .btns{
        text-align:center;
        margin-top:5px;
    }
    .btns>a:link{
        text-decoration:none;
    }
    .cartWithItems>span{
        display:block;
        margin-bottom:10px;
    }
.cartWithItems {
    background-color:#181818;
    width: 250px;
    padding: 30px;
    font-size: 16px;
    height: auto;
    margin-left:-100px;
}
.buy {
    width: 100%;
    color: white;
    background-color: #FF8C00;
    border:none;
    transition: 0.3s all ease;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}
.buy:link {
    width: 100%;
    color: white;
    background-color: #FF8C00;
    border: none;
    transition: 0.3s all ease;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}
.buy:visited {
    width: 100%;
    color: white;
    background-color: #FF8C00;
    border: none;
    transition: 0.3s all ease;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}
    .buy:hover {
        background-color: #FFA500;
        transition: 0.3s all ease;
        color: white;
        text-decoration: none;
    }
.toCart:link {
    color: white;
    transition: 0.3s all ease;
}
.toCart:visited {
    color: white;
    transition: 0.3s all ease;
}
.toCart{
    color:white;
    transition:0.3s all ease;
}
    .toCart:hover {
        color: #FFA500;
        transition: 0.3s all ease;
    }
.buyItemList span {
    font-size: 35px;
    position: relative;
    top: 30px;
    right: 20px;
    color: white;
}
.buyItemList input {
    font-size: 35px;
    position: relative;
    top: 30px;
    right: 20px;
    max-width:80px;
}
.buyItemList > .changeAm {
    font-size: 45px;
    cursor: pointer;
    top: 30px;
    transition: 0.3s all ease;
}
.buyItemList > .changeAm:hover {
    color:coral;
    transition:0.3s all ease;
}
    .buyItemList > .changeAm:nth-child(1) {
    right:25px;
}
.buyItemList > .changeAm:nth-child(2) {
    left:5px;
}
.sum{
    position:relative;
    left:100px;
    bottom:15px;
    max-width:60%;
}
.sum> span{
    font-size:20px;
    color:white;
}
.sum label{
    color:white;
    position:relative;
    bottom:10px;
}
#cartPopup .listItems {
    max-width: 980px;
}
#cartPopup>h1{
    font-size:26px;
    color:white;
}
#cartPopup {
    background-color: #282828;
}
.continue {
    padding: 10px;
    font-size: 18px;
    background-color: white;
    position: relative;
    top: 50px;
    cursor: pointer;
    transition: 0.3s all ease;
}
    .continue:hover {
        color: #FF8C00;
        transition: 0.3s all ease;
    }
.orderIt {
    padding: 10px !important;
    font-size: 20px !important;
    background-color: #FF8C00 !important;
    border: none !important;
    color: white !important;
    transition: 0.3s all ease!important;
    display:block!important;
    margin-bottom:3px;
}
    .orderIt:hover {
        transition: 0.3s all ease !important;
        background-color: #FFA500 !important;
        text-decoration:none !important;
    }
.popupCartButtons>div{
    position:relative;
   width:180px;
   padding-left:5px;
   padding-right:20px;
   top:18px;
   float:right;
   margin-top:5px;
}
.popupCartButtons>div>label:nth-child(2){
    float:right;    
}
    .popupCartButtons > div > label{
        color:white;
    }
    .logo_container > a > img {
        width: 250px;
        height: 65px;
    }
.logo_container > a {
    margin-left: 80px;
}
.personalInfo {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;
    color:white;
}
.personalInfo>tbody>tr>td:nth-child(1){
    width:15%;
    color:white;
}
.personalInfo>tbody> tr > td:nth-child(2) {
    width:30%;
}
.personalInfo>tbody > tr > td:nth-child(3) {
    width:30%;
    border-left:1px solid #d3d3d3;
    padding-left:10px;
    float:left;
}
    .personalInfo > tbody > tr > td:nth-child(3) > button {
        width: 250px;
        height: 35px;
        font-size: 20px;
        background-color: #FF8C00;
        border:none;
        color: white;
        transition: 0.3s all ease;
    }
.buttonsAdapt{
    display:none;
}
.buttonsAdapt > button {
    width: 250px;
    height: 35px;
    font-size: 20px;
    background-color: #FF8C00;
    border: none;
    color: white;
    transition: 0.3s all ease;
    margin-bottom: 15px;
    display: block;
}
.title{
    margin-top:10px;
    font-size:28px;
    margin-bottom:25px;
    color:white;
}
#popupQuestionForm textarea, #popupReplyForm textarea {
    width: 280px;
}
.exit:link {
    width: 250px;
    height: 35px;
    font-size: 20px;
    background-color: #FF8C00;
    border: none;
    color: white;
    transition: 0.3s all ease;
    display: block;
    text-align: center;
    padding-top: 5px;
    background-color: #DC143C !important;
    transition: 0.3s all ease !important;
}
.exit:visited {
    width: 250px;
    height: 35px;
    font-size: 20px;
    background-color: #FF8C00;
    border: none;
    color: white;
    transition: 0.3s all ease;
    text-align: center;
    padding-top: 5px;
    display: block;
    background-color: #DC143C !important;
    transition: 0.3s all ease !important;
}
    .exit:hover {
        color:white;
        text-decoration:none;
        background-color: #CD5C5C !important;
        transition: 0.3s all ease !important;
    }
.personalInfo > tbody > tr > td:nth-child(3) > button:hover {
    background-color: #FFA500;
    transition: 0.3s all ease;
}
#changeInform>input{
    height:35px;
    width:250px;
    padding:5px;
    margin-bottom:15px;
}
.decline {
    cursor: pointer;
    padding: 10px;
    background-color: #dcdcdc;
    transition: 0.3s all ease;
    float:left;
}
    .decline:hover {
        color: #008B8B;
        transition: 0.3s all ease;
    }
.saveCh {
    float: right;
    padding: 10px;
    background-color: #3e77aa;
    color: white;
    transition: 0.3s all ease;
}
.saveCh:hover{
    background-color:#1E90FF;
    transition: 0.3s all ease;
}
.helloAuth{
    display:inline-block;
}
    .helloAuth .login {
        color: white;
        transition: 0.3s all ease;
    }
    .helloAuth .login:hover {
        color: #FFA500;
        transition:0.3s all ease;
    }
.authOption {
    width: 200px;
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
    cursor: pointer;
    transition: 0.3s all ease;
    background-color: white;
}
    .authOption a {
        color: #212529
    }
    .authOption a:hover{
        text-decoration:none;
    }
    .authOption a:link{
        color: #212529;
        text-decoration:none;
    }
    .authOption:hover {
        background-color: #FFF8DC;
        transition:0.3s all ease;
    }
    .authOption >a>svg {
        float: right !important;
        font-size: 14px !important;
        color: inherit !important;
        margin-top:2px;
    }
.leave {
    color: #CD5C5C;
    transition:0.3s all ease;
}
    .leave:hover {
        color: #F08080;
        transition: 0.3s all ease;
    }
.logedDropdown {
    box-shadow: -3px 3px 10px rgba(0,0,0,0.5);
    width:200px;
    margin-left:35px;
    position:absolute;
    top:33px;
    opacity:0;
}
#resetPass{
    font-size:18px;
}
#resetPass>input{
    margin-bottom:10px;
    height:35px;
    width:300px;
}
.passChangeButton {
    cursor: pointer;
    padding: 10px;
    background-color: #dcdcdc;
    font-size: 20px;
    display: block;
    text-align: center;
    transition: 0.3s all ease;
}
    .passChangeButton:hover {
        color: #008B8B;
        transition:0.3s all ease;
    }
    .mail1{
        width:100%;
        min-width:320px;
        height:35px;
        margin-bottom:10px;
    }
    .tpsSelected {
        color: #FFA500 !important;
    }
        .tpsSelected:hover {
            color: #FFA500 !important;
        }
        .emailChangeButton {
            cursor: pointer;
            padding: 10px;
            background-color: #dcdcdc;
            font-size: 20px;
            display: block;
            text-align: center;
            transition: 0.3s all ease;
        }
        .emailChangeButton:hover {
                color: #008B8B;
                transition: 0.3s all ease;
        }
        .admLogin{
            bottom:5px !important;
        }
        .adminOption{
            padding:20px;
            border:1px solid #202020;
            color:white;
            cursor:pointer;
            font-size:15px;
            transition:0.3s all ease;
        }
        .adminOption>svg{
            float:right;
            margin-top:4px;
            font-size:15px;
        }
        .adminOption:hover{
            background-color: #404040;
            color: #FFA500;
            transition: 0.3s all ease;
        }
        .adminOption-wrap{
            padding:20px;
            border:1px solid #202020;
            color:white;
            cursor:pointer;
            font-size:15px;
            transition:0.3s all ease;
        }
        .adminOption-wrap>svg{
            float:right;
            margin-top:4px;
            font-size:15px;
        }
        .adminOption-wrap:hover{
            background-color: #404040;
            color: #FFA500;
            transition: 0.3s all ease;
        }
        .toOrder>a:link{
            padding:20px;
            border:1px solid #202020;
            color:white;
            cursor:pointer;
            font-size:15px;
            transition:0.3s all ease;
            text-decoration:none;
        }
        .toOrder>a{
            display:block;
            padding:20px;
            border:1px solid #202020;
            color:white;
            cursor:pointer;
            font-size:20px;
            transition:0.3s all ease;
            text-decoration:none;
        }
        .toOrder>a>svg{
            float:right;
            margin-top:4px;
            font-size:15px;
        }
        .toOrder>a:hover{
            background-color: #404040;
            color: #FFA500;
            transition: 0.3s all ease;
            text-decoration:none;
        }
        .adminOptions{
            margin-left:35%;
        }
        .adminOptionSelected {
            background-color: #404040;
            color: #FFA500;
        }
        .createSelect{
            width:450px;
            height:35px;
            position:relative;
            top:15px;
            bottom:0;
            left:0;
        }
        .forma>form label{
            color:white;
        }
        .forma > form input{
            width:500px;
            height:35px;
            margin-bottom:15px;
        }
        .isOnDiscount{
            width:auto !important;
            height:auto !important;
        }
        .createSelect > select {
        border: none;
        height: 35px;
        width: 450px;
        }
        .forma{
            margin-top:32px;
        }
        .newDescription{
            margin-bottom:15px;
        }
        .newCharact{
            margin-top:15px;
        }
        .priceWithDiscount{
            padding:5px;
            color:#696969;
        }
        .newCharact input{
            width:450px !important;
        }
        .removeCharact{
            transition:0.3s all ease;
            padding-left:20px;
            padding-right:20px;
            padding-top:8.5px;
            padding-bottom:8.5px;
            color:white;
            cursor:pointer;
            border:1px solid #303030;
            border-left:none;
        }
        .removeCharact:hover{
            transition:0.3s all ease;
            background-color:#404040;
            color: 	#DC143C; 	
        }
        .selectContainer>.removeCharact{
            position:relative;
            bottom:11px;
            left:450px;
            padding-top:8px;
            padding-bottom:8px;
        }
        .imageUpload{
            color:white;
        }
        .selectContainer{
            margin-bottom:15px;
        }
        .charactLine{
            width:500px;
            margin-bottom:15px;
        }
        .charactLine label{
            margin-top:5px;
        }
        .addCharact{
            position:relative;
            left:350px;
            color:#9ACD32;
            padding-left:20px;
            padding-right:20px;
            padding-top:8.5px;
            padding-bottom:8.5px;
            cursor:pointer;
            transition:0.3s all ease;
        }
        .addCharact:hover{
            transition:0.3s all ease;
            background-color:#404040;
        }
        .newCharacteristic{
            border-top:1px solid #383838;
            margin-top:15px;
            border-bottom:1px solid #383838;
        }
        .newCharacteristic>.removeCharact
        {
            border-right:none;
            float:right;
            width:50px;
            display:block;
        }
        .imageUploadMultiple{
            color:white;
        }
        .createItem{
            width:500px;
            height:35px;
            border:1px solid #202020;
            background-color:transparent;
            color:white;
            text-align:center;
            transition:0.3s all ease;
        }
        .createItem:hover{
            background-color:#404040;
            color: 	#FFA500;
            transition:0.3s all ease;
        }
        .categsContainer>.selectContainer>.createSelect{
            width:500px;
        }
        .childCategsSelect{
            width:500px !important;
        }
        .charactsContainer{
            border-bottom:1px solid #404040;
            max-width:510px;
            margin-bottom:15px;
        }
        .addChildCat{
            position:relative;
            left:293px;
            color:#9ACD32;
            padding-left:20px;
            padding-right:20px;
            padding-top:8.5px;
            padding-bottom:8.5px;
            cursor:pointer;
            transition:0.3s all ease;
        }
        .addChildCat:hover{
            transition:0.3s all ease;
            background-color:#404040;
        }
        .addNewChild{
            margin-bottom:15px;
        }
        .nP{
            width:auto !important;
            height:auto !important;
        }
        .addPattern{
            position:relative;
            left:253px;
            color:#9ACD32;
            padding-left:20px;
            padding-right:20px;
            padding-top:8.5px;
            padding-bottom:8.5px;
            cursor:pointer;
            transition:0.3s all ease;
        }
        .addPattern:hover{
            transition:0.3s all ease;
            background-color:#404040;
        }
        .patternContainer{
            max-width:510px;
            margin-top:15px;
            border-top:1px solid #404040;
            padding-top:5px;
        }
        .patternContainer input{
            width:450px !important;
        }
        .patterns{
            margin-bottom:15px;
        }
        .filterCharSelect{
            width:500px !important;
        }
        .filterSelect{
            width:500px !important;
        }
        #order{
            max-width:400px;
        }
        #order>input{
            width:320px;
            height:35px;
        }
        #order input{
            margin-bottom:15px;
        }
        .paymMethod input,.shipMethod input{
            width:320px;
            height:35px;
        }
        .post{
            width:auto !important;
            height:auto !important;
        }
        .shipMethod{
            border-top:1px solid #404040;
            padding-top:10px;
            max-width:350px;
        }
        .shippingMethod,.paymentMethod{
            margin-top:10px;
        }
        .sendOrder{
            background-color:#202020;
            border:none;
        }
       .order{
           margin-top:15px;
           color:white;
       }
       .orderInfoRow>td{
           padding:15px;
           border:1px solid #383838;
       }
       .orderItem{
           margin-left:10px;
           max-width:1660px;
       }
       .orderItem th{
           padding:15px;
       }
       .showOrder svg{
           font-size:20px;
       }
       .showOrder{
           padding:15px;
           cursor:pointer;
           transition:0.3s all ease;
       }
        .showOrder:hover {
            background-color: #484848;
            color: #FFA500;
            transition:0.3s all ease;
        }
       .orderExtra{
           cursor:default;
           opacity:0;
       }
       .orderDetailsImg{
           width:70px;
           height:45px;
           margin-left:7px;
       }
       .orderDetailsRow td{
           padding:10px;
           border:1px solid #383838;
       }
       .orderItemName:link{
           color:white;
           transition:0.3s all ease;
       }
       .orderItemName:hover{
           transition:0.3s all ease;
           text-decoration:none;
           color:#FFA500;
       }
       .orderExtra{
           position:absolute;
           margin-left:-381px;
           margin-top:19px;
       }
       .orderDetails{
           border:1px solid #383838;
       }
       .orderDetailsA{
           display:none;
       }
       .wrapTd{
           padding:0 !important;
       }
       .forSelect{
           padding-top:5px !important;
           padding-bottom:5px !important;
           bottom:14px !important;
       }
       .adminOptions-wrap{
           margin-left:25%;
       }
       .tp{
           margin-top:30px;
       }
       .removeIt{
           cursor:pointer;
           color:white;
           padding:3px;
           position:absolute;
           top:0px;
           margin-top:40px;
           margin-left:325px;
           transition:0.3s all ease;
       }
       .removeIt:hover{
           transition:0.3s all ease;
           color:#DC143C;
           background-color:#484848;
       }
       .removeImg>img{
           width:320px;
           height:200px;
       }
       .removeImg{
           display:inline-block;
           padding:25px;
           border:1px solid #303030;
           transition:0.3s all ease;
       }
       .removeImg:hover{
           border: none;
           box-shadow: 0 0 10px rgba(0,0,0,0.5);
       }
       .orderItem{
           margin-bottom:20px;
       }
       .mainImage{
           top:unset;
           margin-top:-20px;
       }
       .extra{
           top:unset;
           margin-top:-20px;
       }
       .logoWithoutName{
           margin-top:8px;
           display:none;
            width:60px;
           height:48px;
       }
       header .logoWithoutName>img{
            width:60px!important;
           height:48px!important;
       }
       .side{
           position:absolute;
           width:100%;
           display:none;
       }
       .side-menu{
           display:none;
           width:300px;
           position:absolute;
           left:-300px;
           top:0px;
           background-color:#080808;
           z-index:100;
           color:white;
           height:1080px;
       }
        .side-menu .logoMainSide > img {
            width: 220px;
            height: 55px;
            margin-top: 15px;
            margin-bottom:15px;
        }
        .side-menu .logoMainSide{
            
            margin-left:10px;
        }
        .side-menu .login {
            position: unset;
        }
        .sideOption{
            width:100%;
            padding:25px;
            display:block;
            font-size:20px;
            border:1px solid #383838;
            color:white;
            transition:0.3s all ease;
        }
            .sideOption:link {
                width: 100%;
                padding: 25px;
                display: block;
                font-size: 24px;
                border: 1px solid #383838;
                color: white;
                transition: 0.3s all ease;
            }
        .sideOption:hover{
            background-color:#383838;
            color: 	#FFA500;
            transition:0.3s all ease;
        }
        .sideOptionNH{
            width:100%;
            padding:22px;
            padding-top:10px;
            display:block;
            font-size:18px;
            border:1px solid #383838;
            color:white;
        }
        .sideOption>svg{
            float:right;
        }
        .sideOptionNH>h1 {
            font-size:22px;
            margin-bottom:10px;
        }
        .closeSide{
            font-size:20px;
            position:absolute;
            margin-left:275px;
            margin-top:10px;
            cursor:pointer;
            transition:0.3s all ease;
        }
        .closeSide:hover{
            transition:0.3s all ease;
            color:#FFA500;
        }
        .zatem{
            width:100%;
            height:1080px;
            background:url("../images/zatem.png");
            opacity:0.4;
            z-index:99;
            position:absolute;
            display:none;
        }
        .openSide{
            font-size:25px;
            color:white;
            transition:0.3s all ease;
            position:relative;
            top:30px;
            cursor:pointer;
            display:none;
        }
        .openSide:hover{
            color:#FFA500;
            transition:0.3s all ease;
        }
        .helloAuth>.login{
            display:block;
            overflow:hidden;
            width:240px;
            height:17px;
        }
        .helloAuth>.sideOption{
            font-size:15px;
            width:100%;
        }
        .removeOrder{
            margin-left:10px;
            width:280px;
            color:white;
            transition:0.3s all ease;
            background-color:transparent;
            padding:10px;
            border:1px solid #404040;
        }
        .removeOrder:hover{
            background-color:#404040;
            color: 	#FFA500;
            transition:0.3s all ease;
        }
        .orderBorder{
            width:100%;
            padding-bottom:10px;
            border-bottom:1px solid #484848;
        }
        .crossContainer>span{
            color:#BEBEBE;
            font-size:18px;
            margin-left:2px;
        }
        .crossContainer{
            margin-bottom:8px;
        }
        .cross{
            background-color: 	#FF4500;
            width:42px;
            margin-top:-9px;
            height:2px;
            z-index:10;
            position:absolute;
            
        }